:root,
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-size: 16px;
  /* fallback */
  background-color: #212121;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.container {
  max-width: 160rem;
  margin: 3rem auto;
  background-color: #eeeeee;
  border-radius: 0.5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.2rem solid #212121;
  padding: 1.6rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

header nav ul li a {
  text-decoration: none;
  color: #212121;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav ul li a:hover {
  color: #007fff;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .main-content {
  width: 100%;
  padding: 1.6rem;
}

.main-page .main-content #accordion {
  margin-bottom: 1.6rem;
}

.main-page .sidebar {
  min-width: 28.9rem;
  border-left: 0.2rem solid #212121;
  padding: 1.6rem;
}

.main-page .sidebar .sidebar-item-1,
.main-page .sidebar .sidebar-item-2 {
  margin-bottom: 1.6rem;
}

.main-page .sidebar .sidebar-item-1 h3,
.main-page .sidebar .sidebar-item-2 h3 {
  padding: 1.6rem;
  background-color: #007fff;
  text-align: center;
  color: #eeeeee;
  border-radius: 0.5rem;
  margin-bottom: 1.6rem;
}

.main-page .sidebar .sidebar-item-1 p,
.main-page .sidebar .sidebar-item-2 p {
  margin-bottom: 1rem;
}

.main-page .sidebar .sidebar-item-1 ul,
.main-page .sidebar .sidebar-item-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .sidebar .sidebar-item-1 ul li a,
.main-page .sidebar .sidebar-item-2 ul li a {
  color: #007fff;
}

.main-page .sidebar .sidebar-item-2 ul {
  display: block;
}

.main-page .sidebar .sidebar-item-2 ul li {
  margin-bottom: 0.5rem;
}

.main-page .sidebar .sidebar-item-2 ul li::before {
  content: "-";
  font-weight: bold;
}

.slider-wrapper .slider-active img {
  width: 100%;
}

.slider-wrapper .slider-content {
  display: none;
}

.slider-wrapper .slider-content .slider-description {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.slider-wrapper .slider-content .slider-description .slider-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 5rem;
}

.nivo-caption {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.nivo-controlNav {
  position: relative;
  width: 100%;
  z-index: 99;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nivo-controlNav a {
  width: 5rem;
  height: 1.2rem;
  margin: 0 0.5rem;
  background: #212121;
  display: inline-block;
  text-indent: -9999.9rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nivo-controlNav a:hover, .nivo-controlNav a:active {
  background: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=styles.css.map */